
.user-content{
    width: 100%;
    height: 722px;
    background-color: rgb(242,242,242);
}


.user-list{
    width: 86%;
    height: 100%;
    display: inline-block;
}

.addNews-button{
    margin-bottom: 20px;
}

