.homepage{
    background-color: ghostwhite;
}

.homepage-content{
    margin-left: 100px;
    margin-top: 10px;
    width: 70%;
    display: inline-block;
}

.homepage-sideBar{
    width: 16%;
    float: right;
    margin-top: 12px;
    margin-right: 40px;
    display: inline-block;
    background-color: snow;
}

.homepage-sideBar Button{
    background-color: white !important;
    color: black !important;
    margin-left: 20px;
}

.register-button{
    background-color: white !important;
    color: black !important;
}
.login{
    height: 62px;
    background-color: ghostwhite;
}
 .login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.register-form-button {
    width: 100%;
    margin-top: 30px;
}
.homepage-sideBar-message {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    font-weight: bold;
    color: #2C3E50;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);
}
.homepage-sideBar-userMessage{
    margin-left: 10px;
}
.logo1{
    width: 100px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 20px;
}
.logo1 img{
    width:80px;
    height:80px;
    margin-left: 10px;
}

.logo2{
    width:40px;
    height:40px;
}

#upToDateMessage{
    width: 180px;
    display: inline-block;
}

.ant-dropdown-open,.ant-dropdown-trigger{
    width: 10px!important;
}