.photo{
    width: 500px;
    height: 300px;
}
.headpage-carousel{
    width: 500px;
    height: 300px;
    float: left;
}

.headpage-sideBar{
    width: 480px;
    height: 300px;
    margin-left: 20px;
    float: left;
    background-color: snow;
}

.headpage-sideBar h3{
    margin-left: 125px;
}

.headpage-sideBar div{
    margin-left: 5px;
}
.headpage-sideBar div a{
    font-size: 12px;
}

.headpage-footer{
    width: 1000px;
    margin-top: 25px;
    display: inline-block;
    background-color: snow;
}
 h3{
    margin-left: 500px;
}

a:visited{color:black;}

a:hover{color:skyblue;}

a:active{color:#ccc;}

h3 {
    font-weight: bold;
    color: #2C3E50;
     text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);
}

#website1{
    margin-top: 10px;
}

#website2{
    margin-top: 15px;
}

#website3{
    margin-top: 15px;
}

#website4{
    margin-top: 15px;
}

#website5{
    margin-top: 15px;
}